<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfz9y9CJBjUKthStY4-4wyaSbvy6vFvQo</string>
	<key>GCM_SENDER_ID</key>
	<string>884979148308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdgSoogsilSolutionChallenge1teamFrontend</string>
	<key>PROJECT_ID</key>
	<string>login-admin-9eaaf</string>
	<key>STORAGE_BUCKET</key>
	<string>login-admin-9eaaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884979148308:ios:4254c188717fa76a986901</string>
</dict>
</plist>